body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: #333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
}

header {
    background-color: #333333;
    margin-bottom: 20px;
}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 17px 0 17px 0;
    margin: 0 0 0 0;
    text-align: center;
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    /*the following centers a div*/
    margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
    float: left;
}

#bio-image {
    width: 200px;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
}

img {
    margin-right: 20px;
}

a {
    color: #d21034;
}